body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homebody{
  position: absolute;
  background-color: #181818;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.umerportfolio{
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 2.5vh;
  font-family: 'Carme';
  color: white;
}

@media (max-width: 620px){
  .umerportfolio{
    position: absolute;
    top: 5%;
    left: 1.5%;
    font-size: 2.1vh;
    font-family: 'Carme';
    color: white;
  }
}

.projectsheader{
  position: absolute;
  top: 4.2%;
  left: 27.5%;
  font-size: 3.5vh;
  font-family: 'Carme';
  color: #9F9D9D;
}

@media (max-width: 768px){
  .projectsheader{
    position: absolute;
    top: 4.2%;
    left: 27.5%;
    font-size: 3vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}

@media (max-width: 620px){
  .projectsheader{
    position: absolute;
    top: 5%;
    left: 29%;
    font-size: 2.1vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}

@media (max-width: 1440px){
  .mydescription{
    position: absolute;
    font-family: 'Carme';
    font-size: 3vh;
    color: #9F9D9D;
    left: 23.3%;
    top: 49.5%;
    width: 35vw;
    }
}

.technologiesheader{
  position: absolute;
  top: 4.2%;
  left: 44%;
  font-size: 3.5vh;
  font-family: 'Carme';
  color: #9F9D9D;
}

@media (max-width: 768px){
  .technologiesheader{
    position: absolute;
    top: 4.2%;
    left: 43.8%;
    font-size: 3vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}

@media (max-width: 620px){
  .technologiesheader{
    position: absolute;
    top: 5%;
    left: 43.8%;
    font-size: 2.1vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}

.workexpheader{
  position: absolute;
  top: 4.2%;
  left: 62%;
  font-size: 3.5vh;
  font-family: 'Carme';
  color: #9F9D9D;
}

@media (max-width: 768px){
  .workexpheader{
    position: absolute;
    top: 4.2%;
    left: 64%;
    font-size: 3vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}

@media (max-width: 620px){
  .workexpheader{
    position: absolute;
    top: 5%;
    left: 66%;
    font-size: 2vh;
    font-family: 'Carme';
    color: #9F9D9D;
  }
}


.growinglineone {
  width: 0.2%;
  top: 20%;
  left: 20%;
  height: 0;
  background-color: #ffffff;
  animation: growLine 1.2s ease forwards;
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
}

@keyframes growLine {
  to {
      height: 60%;
      transform: scaleY(1);
  }
}

.growinglinetwo {
  width: 0.2%;
  bottom: 20%; /* Adjust the bottom position to start from the bottom */
  left: 70%;
  height: 0;
  background-color: hsl(0, 0%, 100%);
  animation: growLineRight 1.2s ease forwards;
  position: absolute;
  transform-origin: bottom; /* Keep the transformation origin at the bottom */
}

@keyframes growLineRight {
  to {
    height: 60%;
    transform: scaleY(1);
  }
}

@media (max-width: 760px){
  .growinglinetwo {
    width: 0.2%;
    bottom: 20%; /* Adjust the bottom position to start from the bottom */
    left: 80%;
    height: 0;
    background-color: hsl(0, 0%, 100%);
    animation: growLineRight 1.2s ease forwards;
    position: absolute;
    transform-origin: bottom; /* Keep the transformation origin at the bottom */
  }
}

@media (max-width: 620px){
  .growinglinetwo {
    width: 0.2%;
    bottom: 20%; /* Adjust the bottom position to start from the bottom */
    left: 94%;
    height: 0;
    background-color: hsl(0, 0%, 100%);
    animation: growLineRight 1.2s ease forwards;
    position: absolute;
    transform-origin: bottom; /* Keep the transformation origin at the bottom */
  }
}

.growinglinethree {
  width: 0;
  height: 0.2%;
  top: 20%;
  left: 20%;
  background-color: #ffffff; /* You can change the color to your preference */
  animation: growLineTwice 1s ease forwards; /* Adjust the duration for the growing animation */
  position: absolute;
}

@keyframes growLineTwice {
  to {
      width: 50%;
  }
  
}

@media (max-width: 760px){
  @keyframes growLineTwice {
    to {
        width: 60%;
    }
    
  }
}

@media (max-width: 620px){
  @keyframes growLineTwice {
    to {
        width: 74%;
    }
    
  }
}

.growinglinefour {
  width: 0;
  height: 0.2%;
  top: 80%;
  right: 29.8%; /* Adjust the right position to start from the right */
  background-color: #ffffff; /* You can change the color to your preference */
  animation: growLineThrice 1s ease forwards; /* Adjust the duration for the growing animation */
  position: absolute;
  transform: rotate(0deg); /* Set the initial rotation to 0 degrees */
  transform-origin: top right; /* Set the transformation origin to the top right corner */
}

@keyframes growLineThrice {
  to {
    width: 50.2%;
  }
}

@media (max-width: 760px){
  .growinglinefour {
    width: 0;
    height: 0.2%;
    top: 80%;
    right: 19.8%; /* Adjust the right position to start from the right */
    background-color: #ffffff; /* You can change the color to your preference */
    animation: growLineThrice 1s ease forwards; /* Adjust the duration for the growing animation */
    position: absolute;
    transform: rotate(0deg); /* Set the initial rotation to 0 degrees */
    transform-origin: top right; /* Set the transformation origin to the top right corner */
  }
  @keyframes growLineThrice {
    to {
      width: 60.19%;
    }
  }
}

@media (max-width: 620px){
  .growinglinefour {
    width: 0;
    height: 0.2%;
    top: 80%;
    right: 5.8%;
    background-color: #ffffff;
    animation: growLineThrice 1s ease forwards;
    position: absolute;
    transform: rotate(0deg);
    transform-origin: top right;
  }
  @keyframes growLineThrice {
    to {
      width: 74.2%;
    }
  }
}

.growinglinefive {
  width: 0.2%;
  bottom: 0%; /* Adjust the bottom position to start from the bottom */
  left: 6%;
  height: 0;
  background-color: #ffffff;
  animation: growLineFive 1s ease forwards;
  position: absolute;
  transform-origin: bottom; /* Keep the transformation origin at the bottom */
}

@keyframes growLineFive {
  to {
    height: 30%;
    transform: scaleY(1);
  }
}

.hi{
  position: absolute;
  font-family: 'Capriola';
  font-size: 9vh;
  color: #ffffff;
  left: 23%;
  top: 23%;
}

.iamumer{
  position: absolute;
  font-family: 'Carme';
  font-size: 7vh;
  color: #ffffff;
  left: 23.19%;
  top: 39.5%;
}

.mydescription{
  position: absolute;
  font-family: 'Carme';
  font-size: 3.3vh;
  color: #9F9D9D;
  left: 23.3%;
  top: 49.5%;
  width: 28vw;
}

@media (max-width: 1440px){
  .mydescription{
    position: absolute;
    font-family: 'Carme';
    font-size: 3vh;
    color: #9F9D9D;
    left: 23.3%;
    top: 49.5%;
    width: 35vw;
    }
}

@media (max-width: 760px){
  .mydescription{
    position: absolute;
    font-family: 'Carme';
    font-size: 2.7vh;
    color: #9F9D9D;
    left: 23.3%;
    top: 49.5%;
    width: 40vw;
    }
}

@media (max-width: 620px){
  .mydescription{
    position: absolute;
    font-family: 'Carme';
    font-size: 2.55vh;
    color: #9F9D9D;
    left: 23.3%;
    top: 49.5%;
    width: 60vw;
    }
}

.gitlogo{
  position: absolute;
  height: 7%;
  width: 5%;
  top: 58.5%;
  left: 3.57%;
}

.linkedinlogo{
  position: absolute;
  height: 6%;
  width: 5%;
  top: 50.5%;
  left: 3.57%;
}

.emailicon{
  position: absolute;
  height: 5.5%;
  width: 5%;
  top: 42.5%;
  left: 3.57%;
}

.musicicon{
  position: absolute;
  top: 4%;
  left: 87%;
  height: 5%;
}

@media (max-width: 768px){
  .musicicon{
    position: absolute;
    top: 3%;
    left: 92%;
    height: 4.5%;
  }
}

@media (max-width: 620px){
  .musicicon{
    position: absolute;
    top: 4%;
    left: 94%;
    height: 4%;
  }
}

.circle {
  position: absolute;
  left: 86.4%;
  width: 3.5%;
  height: 6.8%;
  top: 3%;
  border-radius: 50%;
}

@media (max-width: 768px){
  .circle {
    position: absolute;
    left: 90.8%;
    width: 5.7%;
    height: 6.5%;
    top: 2%;
    border-radius: 50%;
  }
}

.pulse {
  animation: pulse-animation 2s;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@media (max-width: 620px){
  .circle {
    position: absolute;
    left: 92.9%;
    width: 6%;
    height: 5.8%;
    top: 3.1%;
    border-radius: 50%;
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }
  }
}

.projectspage{
  overflow: hidden;
}

.thriftaidproject{
  overflow: hidden;
}

.thriftaidbox{

box-sizing: border-box;

position: absolute;
width: 20%;
height: 39%;
left: 27.5%;
top: 27.5%;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 2%;
filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
overflow: hidden;

}

.thriftaidbox.hovered {
  /* Your styles for the hover effect */
  box-sizing: border-box;
  position: absolute;
  width: 20%;
  height: 39%;
  left: 27.5%;
  top: 27.5%;
  animation: growBoxDown 0.5s ease forwards;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 2%;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  background-color: #000000;
  overflow: hidden;
}

@keyframes growBoxDown {
  to {
    height: 70%;
    transform: scaleY(1);
  }
}


.thriftaidboxsecondary{
    /* Rectangle 6 */
  box-sizing: border-box;
  position: absolute;
  width: 17%;
  height: 17%;
  left: 29%;
  top: 30.5%;
  border: 1px solid #000000;
  transform-origin: top;
  border-radius: 10px;
  overflow: hidden;

}


.projectnamethrift{
  position: absolute;
  font-family: 'Carme';
  font-weight: 600;
  font-size: 2.5vh;
  left: 35%;
  top: 48.3%;
}

.projectnamethrift.hovered{
  position: absolute;
  font-family: 'Carme';
  font-weight: 600;
  font-size: 2.5vh;
  left: 35%;
  top: 48.3%;
  color: white;
}

.reactskillthrift{
  /* Rectangle 9 */
  position: absolute;
  width: 5%;
  height: 4%;
  left: 28%;
  top: 53%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.reactskillthrift.hovered{
  /* Rectangle 9 */
  position: absolute;
  width: 5%;
  height: 4%;
  left: 28%;
  top: 53%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: black;
  background: white;
  border-radius: 5px;

}

.nodeskillthrift{
  position: absolute;
  width: 5%;
  height: 4%;
  left: 33.5%;
  top: 53%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.nodeskillthrift.hovered{
  position: absolute;
  width: 5%;
  height: 4%;
  left: 33.5%;
  top: 53%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.typescriptskillthrift{
  position: absolute;
  width: 7%;
  height: 4%;
  left: 39%;
  top: 53%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.typescriptskillthrift.hovered{
  position: absolute;
  width: 7%;
  height: 4%;
  left: 39%;
  top: 53%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.mongodbskillthrift{
  position: absolute;
  width: 7%;
  height: 4%;
  left: 28%;
  top: 57.5%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.mongodbskillthrift.hovered{
  position: absolute;
  width: 7%;
  height: 4%;
  left: 28%;
  top: 57.5%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.jwtauthskillthrift{
  position: absolute;
  width: 11.5%;
  height: 4%;
  left: 35.5%;
  top: 57.5%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.jwtauthskillthrift.hovered{
  position: absolute;
  width: 11.5%;
  height: 4%;
  left: 35.5%;
  top: 57.5%;
  font-weight: 600;
  font-size: 2.65vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.reduxskillthrift{
  /* Rectangle 9 */
  position: absolute;
  width: 5%;
  height: 4%;
  left: 28%;
  top: 62%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;

}

.reduxskillthrift.hovered{
  /* Rectangle 9 */
  position: absolute;
  width: 5%;
  height: 4%;
  left: 28%;
  top: 62%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;

}

.expressskillthrift{
  /* Rectangle 9 */
  position: absolute;
  width: 5.5%;
  height: 4%;
  left: 33.5%;
  top: 62%;
  font-weight: 350;
  font-size: 2.6vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.expressskillthrift.hovered{
  /* Rectangle 9 */
  position: absolute;
  width: 5.5%;
  height: 4%;
  left: 33.5%;
  top: 62%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.awsskillthrift{
  /* Rectangle 9 */
  position: absolute;
  width: 4.5%;
  height: 4%;
  left: 39.5%;
  top: 62%;
  font-weight: 350;
  font-size: 2.7vh;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
}

.awsskillthrift.hovered{
  /* Rectangle 9 */
  position: absolute;
  width: 4.5%;
  height: 4%;
  left: 39.5%;
  top: 62%;
  font-weight: 600;
  font-size: 2.7vh;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.thriftaidphoto{
  position: absolute;
  width: 17%;
  height: 17%;
  top: 30.5%;
  left: 29%;
  border-radius: 10px;
  overflow: hidden;
}

.check{
  position: absolute;
  top: 70%;
  left: 27.5%;
  width: 20vw;
  height: 40%;
  font-size: 2vh;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}
